.container
	h2 name: &nbsp;
		input#name(placeholder='your name', size='50')

	#peers
	#editor(contentEditable='true')

	button#enable-autotype.btn Enable autotype
	| &nbsp;
	button#disable-autotype.btn Disable autotype