doctype html
html(lang='en')
	head
		title UAWC Final
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
		link(rel='stylesheet' media='screen' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		link(rel='stylesheet' media='screen' href='css/style.css')

	body
		#application
		script(src='//cdn.temasys.com.sg/skylink/skylinkjs/0.6.x/skylink.complete.min.js')
		script(src='lib/requirejs/require.js' data-main='/js/main')
